.ipybn_checkpoints/
.ipynb_checkpoints/simple_trend_following-checkpoint.ipynb
.ipynb_checkpoints/naive_trend_following-checkpoint.ipynb
.ipynb_checkpoints/determine_market_regime-checkpoint.ipynb
.ipynb_checkpoints/naive_market_regime-checkpoint.ipynb
